@{
    ViewData["Title"] = "Home";
}

<form>
    <button asp-action="FirstExperiment">First Experiment</button>
    <button asp-action="SecondExperiment">Second Experiment</button>
    <button asp-action="StatisticPage" name="key">Statistic</button>
</form>
